*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #26335d;
  --text: #fcfcfd;
  --orange: #ff7b52;
  --text-black: #151515;
}

body {
  background-color: #fbfbfb;
  font-family: "Noto Sans", sans-serif;
  color: var(--text-black);
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay.ttf") format("truetype");
}
