body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}
